.App {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color:  rgb(255 230 189 / 90%);
    margin: 0 auto;
}

input[type="checkbox"] {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.change_dark {
    color: #ff7700;
    font-size: 30px;
    cursor: pointer;
}
.change_dark:hover {
    scale: 1.05;
    animation : swing;
    animation-duration : .7s;
    animation-iteration-count : infinite;
}
@keyframes swing {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(-10deg);
    }
    40% {
        transform: rotate(10deg);
    }
    60% {
        transform: rotate(-10deg);
    }
    80% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.todo_card {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 40vw;
    height: 50vh;
    border-radius: 1rem;
    border: 2px solid saddlebrown;
}

.todo_header {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    border-bottom: 1px solid saddlebrown;
}
.todo_header .buttons {
    display: flex;
    gap: .8rem;
    color: darkgray;
    align-items: center;
}

.todo_header .buttons .icon {
    position: relative;
    display: flex;
    cursor: pointer;
}
.todo_header .buttons .icon.active:not(:hover) svg{
    color: saddlebrown;
}
.todo_header .buttons .icon:hover svg {
    scale: 1.05;
}
.todo_header .buttons .icon:hover::before{
    content: '';
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient( 55deg, #f6b280, #9b501b);
    mix-blend-mode:color-burn;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.todo_card .list {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    padding: 1rem;
    overflow-y: scroll;
    gap: 10px;
}

.todo_card .list .list_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    font-size: 17px;
}
.todo_card .list .list_item .check {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 17px;
}
.todo_card .list .list_item svg {
    cursor: pointer;
}
.todo_card .list .list_item svg:hover {
    color: #795542;
}

.todo_bottom {
    border-top: 1px solid saddlebrown;
    height: 40px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding: 10px 1rem;
}
.todo_bottom input[type="text"] {
    display: flex;
    flex: 1;
    border: 1px solid #9a9898;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
}
.todo_bottom input[type="text"]:focus {
    outline-color: #ff7700;
}
.todo_bottom button {
    width: 70px;
    border: none;
    background-color: #ff7700;
    color: white;
    font-size: 15px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}